.charts {
  margin-top: 80px;
}

.MuiToggleButton-root {
  background-color: white !important;
  color: black !important;
}

.MuiToggleButton-root.Mui-selected {
  background-color: #43b998 !important;
  color: white !important;
}

.toolbar {
  max-width: 1050px;
  margin: auto;
  width: 100%;
}

.chartContainer {
  margin: auto;
  position: relative;
  padding: 0 10px;
  width: 98vw;
  max-width: 1080px;
  right: 10px;
}